@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #f1f2f6;
  color: #000;
  min-height: 100vh;
  min-width: 100vw;
 
}

ul {
  list-style: none;
}

